<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<body>
<!-- Navigation -->
<nav class="w3-bar w3-black">
  <a href="/" class="w3-button w3-bar-item">Back</a>
</nav>

 <h1 style="color:Black;font-size:60px;"><center><b>Phishing url Detector</b></center></h1>
 <h4 style="color:black"><center>About</center></h4>

 <p><i>Web service is one of the key communication software services for the internet. Web phishing is one of the many security threats to web services on the internet. Web phishing aims to steal private information, such as usernames, passwords, and credit card details, by way of Impersonating a legitimate entity.</p></i>
 <p><i>The recipient is then tricked into clicking a malicioud link, which can lead to the installation of malware, the freezing of the system as part of a ransomeware attack or the revealing of sensitive information. It will lead to information disclosure and property damage.</i></p>

 <!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-black w3-xlarge">
    <a href="https://www.facebook.com/help/phishing"><i class="fa fa-facebook-official"></i></a>
    <a href="https://www.pinterest.com/search/pins/?rs=ac&len=2&q=phishing%20awareness&eq=phishinge&etslf=9812"><i class="fa fa-pinterest-p"></i></a>
    <a href="https://twitter.com/phishingalert"><i class="fa fa-twitter"></i></a>
    <p>© Copyright Phishing url Detector. All Rights Reserved</p>
  </footer>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</body>
</html>>