<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<body>
<!-- Navigation -->
<nav class="w3-bar w3-black">
  <a href="/predict" class="w3-button w3-bar-item">Back</a>
  <h2 style="color:Black"><center>Get Started!</center></h2>
</nav>

<h3><center><b>Phishing Website Detection using Machine Learning</b></center></h3>
<br>
<br>
<br>


<center><form action ='/y_predict' method='post'>
    <input class="form-control" type = 'text' name = 'url'>
     <br>
    <input class="btn btn-lg btn-default slide_left" type="submit" value="Predict"> 
 </form>

 <b>{{prediction_text}}</b>
 <p>{{url}}</p>>
</center>
<br>
<br>
<br>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-black w3-xlarge">
    <a href="https://www.facebook.com/help/phishing"><i class="fa fa-facebook-official"></i></a>
    <a href="https://www.pinterest.com/search/pins/?rs=ac&len=2&q=phishing%20awareness&eq=phishinge&etslf=9812"><i class="fa fa-pinterest-p"></i></a>
    <a href="https://twitter.com/phishingalert"><i class="fa fa-twitter"></i></a>
    <p>© Copyright Phishing url Detector. All Rights Reserved</p>
  </footer>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

</body>
</html>






